

.animal-section {
    display: flex;
    width: auto;
    background-color: red;
    display: inline-block;
    color: white;
}

.animal-section h2 {
    display: inline-block;
    margin-left: 12px;
}

.animal-table {
  border-collapse: collapse;
  border: 1px solid #000;   
}

.animal-table th, .animal-table td {
  border: 1px solid #000;
  padding: 6px 10px;
}